<div class="flex flex-col gap-2 bg-clr-grey-#F2F4FF hover:bg-[#CFD7FF] active:bg-clr-blue-#4661E6 text-clr-RoyalNavy-#3A4374 group active:text-white max-w-min py-2 px-[11px] rounded-[10px]">
    <svg xmlns="http://www.w3.org/2000/svg" width="11" height="7" viewBox="0 0 11 7" fill="none" class="mx-auto">
        <path d="M1.33398 6L5.33398 2L9.33398 6" stroke="white" stroke-width="2" class="stroke-[#4661E6] group-active:stroke-white"/>
    </svg>
    <p class="text-[13px] font-bold tracking-[-0.181px]">{{text}}</p>
</div>