<div class="md:mt-10 lg:mt-0 flex bg-clr-MidnightBlue-#373F68 justify-between px-defaultPadding md:rounded-[10px]">
    <div class="hidden md:block"></div>

    <div class="">
        <div (click)="dropdownOpen =! dropdownOpen" class="flex cursor-pointer font-MainFont whitespace-nowrap rounded-[10px] max-w-min py-[26px] gap-[9px]" >
          <p class="text-clr-grey-#F2F4FF text-[14px] font-normal">Sort by: <span class="font-bold">{{ selectedSort }}</span></p>
          <div class="my-auto" *ngIf="!dropdownOpen">
            <svg xmlns="http://www.w3.org/2000/svg" width="9" height="7" viewBox="0 0 9 7" fill="none">
              <path d="M1 1L5 5L9 1" stroke="white" stroke-width="2"/>
            </svg>
          </div>
          <div class="my-auto" *ngIf="dropdownOpen">
            <svg xmlns="http://www.w3.org/2000/svg" width="9" height="7" viewBox="0 0 9 7" fill="none">
              <path d="M1 6L5 2L9 6" stroke="white" stroke-width="2"/>
            </svg>
          </div>
        </div>
        <!-- <select name="" (change)="onSortChange($event)" >
          <option *ngFor="let item of sort" [value]="item.sort">{{ item.sort }}</option>
        </select> -->
      </div>

      <button productFeedbackAppButton variant="default" class="bg-clr-purple-#AD1FEA my-auto">+ add feedback</button>
</div>
