<ul class="bg-white rounded-[10px] shadow-xl">
    <li *ngFor="let item of content" class="flex justify-between border-b border-solid border-clr-MidnightBlue-#373F68 last:border-b-0 py-3 px-6 cursor-pointer border-opacity-20" (click)="selectItem(item)">
        <p class="text-clr-Horizon-Mist-#647196 text-base font-normal capitalize whitespace-nowrap hover:text-clr-purple-#AD1FEA transition duration-500">{{item}}</p>
        <img  src="/assets/shared/icon-check.svg" class="my-auto">
    </li>
</ul>