<div class="bg-white p-defaultPadding rounded-[10px] font-MainFont       md:min-h-[178px] lg:h-fit lg:w-[255px]">
    <div class="flex flex-row justify-between">
        <p class="text-clr-darkBlue-button-#3A4374 text-lg font-bold tracking-[-0.25px]">Roadmap</p>
        <button productFeedbackAppButton variant="goBack" class="text-clr-blue-dark-blue-#4661E6  decoration-clr-blue-dark-blue-#4661E6 text-[13px] font-semibold">View</button>
    </div>
    <div class="" *ngFor="let item of roadmap">
        {{item.item}}
    </div>
</div>