<div class="bg-white flex flex-col items-center py-[76px] md:py-[110px] mt-8 md:mt-6 mx-6 md:mx-0 rounded-[10px] px-6 md:px-0 font-MainFont">
    <img src="../../../assets/suggestions/illustration-empty.svg" alt="" class="w-[102px] md:w-[129.64px] mb-10 md:mb-[53px]">
    <h3 class="mb-[14px] md:mb-4 text-clr-RoyalNavy-#3A4374 text-lg md:text-2xl font-bold tracking-[-0.25px] md:tracking-[-0.333px]">There is no feedback yet.</h3>
    <p class="mb-6 md:mb-12 text-center max-w-[410px] font-normal text-[13px] md:text-[16px] text-clr-Horizon-Mist-#647196">Got a suggestion? Found a bug that needs to be squashed? We love hearing about new ideas to improve our app.</p>
    <button productFeedbackAppButton class="bg-clr-purple-#AD1FEA max-w-min" variant="default">+ Add Feedback</button>
</div>