<div class="bg-clr-white-light-#F7F8FD min-h-screen">
    <div class="layout flex flex-col xl:flex-row gap-[30px] md:pt-14 xl:pt-24">
        <div class="flex flex-col md:flex-row xl:flex-col gap-6 md:gap-[10px] xl:gap-6 side-bar max-w-[350px]">
            <product-feedback-app-feedback-board></product-feedback-app-feedback-board>
            <product-feedback-app-selector-button></product-feedback-app-selector-button>
            <product-feedback-app-roadmap></product-feedback-app-roadmap>
        </div>
        <div class="flex flex-col xl:w-[100%]">
            <product-feedback-app-header></product-feedback-app-header>
            <product-feedback-app-no-feedback></product-feedback-app-no-feedback>
        </div>
    </div>
</div>