<div class="bg-clr-white-light-#F7F8FD min-h-screen">
    <div class="layout flex flex-col xl:flex-row md:pt-14 xl:pt-24 md:gap-[40px] lg:gap-[30px]">
        <div class="flex flex-col md:flex-row xl:flex-col gap-6 md:gap-[10px] xl:gap-6 side-bar">
            <product-feedback-app-feedback-board class="md:w-[33%] lg:w-fit"></product-feedback-app-feedback-board>
            <product-feedback-app-selector-button class="hidden md:block md:w-[33%] lg:w-fit"></product-feedback-app-selector-button>
            <product-feedback-app-roadmap class="hidden md:block md:w-[33%] lg:w-fit"></product-feedback-app-roadmap>
        </div>
        <div class="flex flex-col xl:w-[100%]">
            <product-feedback-app-header></product-feedback-app-header>
            <product-feedback-app-no-feedback></product-feedback-app-no-feedback>
        </div>
    </div>
</div>